.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 5px);
    height: 120%;
    width: 10px;
    background: #d44;
}

.timeline {
    margin: 10px;
    width: 90%;
    max-width: 1600px;
    margin: auto;
    padding-top: 50;
    font-size: 14px;
    background-color: #fee;
}

.timeline-event-header {
    padding-bottom: 5px;
    border-bottom: 1px solid #d44;
}

.timeline-event-date {
    position: absolute;
    right: 10px;
}

.timeline-event {
    border: 3px solid #d44;
    border-radius: 5px;
    width: 45%;
    position: relative;
    padding: 10px;
}

.timeline-event-odd {
    margin-top: -150px;
    float: right;
}

.timeline-event-odd::before {
	content: '';
	position: absolute;
	left: 0;
	top: 30px;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #d44;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.timeline-event-odd::after {
	content: '';
	position: absolute;
	left: 0;
	top: 30px;
	width: 0;
	height: 0;
	border: 14px solid transparent;
	border-right-color: #fee;
	border-left: 0;
	border-top: 0;
	margin-top: -7px;
	margin-left: -13px;
}

.timeline-event-even {
}

.timeline-event-even::before {
	content: '';
	position: absolute;
	right: 0;
	top: 30px;
	width: 0;
	height: 0;
	border: 20px transparent solid;
	border-left-color: #d44;
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -20px;
}


.timeline-event-even::after {
	content: '';
	position: absolute;
	right: 0;
	top: 30px;
	width: 0;
	height: 0;
	border: 14px transparent solid;
	border-left-color: #fee;
	border-right: 0;
	border-top: 0;
	margin-top: -7px;
	margin-right: -13px;
}
